<div class="row">
    <div class="col-xs-6">
        <admin-text-input output-model="typeName" label-text="Новый тип"></admin-text-input>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="type in partTypes">
                <span class="pull-right">
                    <span class="glyphicon glyphicon-edit"></span>
                    <span class="glyphicon glyphicon-remove"></span>
                </span>

                {{type.name}}
            </li>
        </ul>
    </div>
</div>